body {
	font-family: 'PT Sans', sans-serif;
	background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
}

h1{
  font-family: 'Amaranth', sans-serif;
}

#add-btn {
	color: white;
	text-decoration: none;
}

.img-fluid{
	height: 320px;
	min-width: 85%;
}

#filter{
	height: 564px;
}

.header {
	background-color: #30686D;
	color: white;
}

.header-bg {

}